html
  head
    title= 'GAMEのページ（仮）'
  body
    p= message
    p= message2
    p= qcount
    p= message3
    form(method='post', action = '/game')
      p
        |答え
        input#answer(type='number' name='answer')    
        br
        input(type='submit', value='OK')