html
  head
    title= 'Scores'
    include includes/style.pug
  body
    h1.title.is-3 Scoresページ（仮）
    table.table
        thead
            |結果表
            th
                abbr(title='Seq') 順位
            th
                abbr(title='Type') タイプ
            th
                abbr(title='Difficulty') 難しさ
            th
                abbr(title='Time') タイム
            th
                abbr(title='Name') 名前
            th
                abbr(title='PlayingDate') プレー日時
        tfoot
            th
                abbr(title='Seq') 順位
            th
                abbr(title='Type') タイプ
            th
                abbr(title='Difficulty') 難しさ
            th
                abbr(title='Time') タイム
            th
                abbr(title='Name') 名前
            th
                abbr(title='PlayingDate') プレー日時
        tbody
        - for (var i = 0; i < data.length; i++)
            tr 
                th= i+1
                td= data[i].game_type_id
                td= data[i].difficulty_id
                td= data[i].result_time
                td= data[i].player_name
                td= data[i].playing_date
    input.button.is-primary.is-outlined(type='button', onClick="location.href='/home'", value='戻る')
